*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url(imagenes/SL_043021_42650_02.jpg);
}
#contenido{
	width: 70%;
	border: 0.5px solid black;
	margin: 0px auto;
}
header{
	height: 100px;
	width: 100%;
	line-height: 50px;
	text-align: center;
	margin: 0px;
	color: black;
}

nav ul li{
	float: left;
	color: #9bf6ff;
	margin: 10px;
	line-height: 30px;
	margin-left: 50px;
	margin-top: 10px;
}

ul li a{
	text-decoration: none; 
}
a:hover{
 	text-decoration: underline;
 	background: #7209b7;
	color: black;
}
a{
	color: black;
	padding: 16px 5px;
}

nav{
	background: #4361ee;
	border: 0px solid black;
	padding-left: 100px;
	height: 50px;
}

.ordenar{
	clear: both;
}

#descripcion{
	float: left;
	width: 70%;
	min-height: 300px;
	background: #fefae0;
	min-height: 450px;
	text-align: justify;
}
.art{
	margin: 20px;
}
#container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.container .form .form-header .form-title
{
	font-weight: normal;
	font-family: sans-serif;
	color: #7209b7;
	text-align: center;
	padding: 14px 0;
}
.container .form
{
	background: #4895ef;
	width: 90%;
	max-width: 650px;
	margin: auto;
	padding: 5px 35px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius: 3px; 
}
.container .form .form-label
{
	display: block; 
	color: #7209b7;
	font-size: 16px;
	font-family: Roboto;
	position: relative;
}
.container .form .form-input, .form-textarea
{
	background: #4cc9f0;
	border: none;
	outline:  none;
	border-bottom: 2px solid #7209b7;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
	font-family: Roboto;
}

.container .form .form-textarea
{
	resize: vertical;
	max-height: 150px;
	min-height: 50px;
}

.container .form .btn-sumit
{
	width: 100%;
	font-family: Roboto;
	outline: none;
	background: #7209b7;
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 15px 0;
	cursor: pointer;
	transition: all .5s ease;
}

.container .form .btn-sumit:hover
{
	background: #7209b7;
}
aside{
	float: left;
	width: 30%;
	background: white;
	min-height: 527px;
	text-align: center;
}

footer{
	line-height: 50px;
	background: #4361ee;
	text-align: center;
	color: white;
}